[submodule "Demos/Demo-guitarTimbreClassifier/libs/deep-classf-runtime-wrappers"]
	path = Demos/Demo-guitarTimbreClassifier/libs/deep-classf-runtime-wrappers
	url = https://github.com/domenicostefani/deep-classf-runtime-wrappers
[submodule "libs/aubio"]
	path = libs/aubio
	url = https://github.com/aubio/aubio
[submodule "libs/choc"]
	path = libs/choc
	url = https://github.com/Tracktion/choc
